*.class
*.log
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.scala_dependencies
/.idea
/.idea/vcs.xml
/project/project
/project/target
/target
.worksheet